.poke3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px; 
  }

  i{
    font-size: 30px;
  }

  ion-thumbnail{
    display: flex; 
    align-items: center; 
    justify-content: center;
  }